
.forms{
    width: 30%;
}

.formInputs{
    display: block;
    width: 100%;
    padding:5px 0;
    border: solid thin black;
    outline: none; 
     padding-left: 5px;
    border-radius: 5px; 
}

@media only screen and (max-width:1000px) {

    .forms{
        width: 40%;
    }
    
 }

@media only screen and (max-width:700px) {

    .forms{
        width: 50%;
    }
    
}

@media only screen and (max-width:600px) {

    .forms{
        width: 60%;
    }
    
 }

 @media only screen and (max-width:500px) {

    .forms{
        width: 70%;
    }
    
 }